<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>简单js动画的实现</title>


</head>

<body>
<button onclick="run()">加宽</button>
<div id="nav" style=" margin-top: 20px; width: 100px; height: 100px; background-color: #409eff;"></div>
<div id="nav2" onmouseover="run()" style=" margin-top: 20px; width: 100px; height: 100px; background-color: #409eff;"></div>
<div id="na2v" style=" margin-top: 20px; width: 100px; height: 100px; background-color: #409eff;"></div>
<div id="nav1" style=" margin-top: 20px; width: 100px; height: 100px; background-color: #409eff;"></div>

</body>

